@import "navbar";
@import "footer";
@import "colors";
@import "typography";

html, body {
  overflow-x: hidden;
}

a.btn {
	opacity: 0.75;

	&:hover {
		opacity: 1;
	}
}

.headline {
  width: 900px;
  padding: 30px 0 10px 0;
}

/* COVER
================================================= */
.cover {
  min-height: 540px;
  padding-top: 50px;
  background-image: url("../img/cover/couple_running_darkened.jpg");
  background-position: center;
  background-size: auto 800px;
  background-repeat: no-repeat;

  h1 {
    margin: 140px 0 30px 0;
    font-size: 52px;
    color: white;
  }

  p {
    margin-bottom: 50px;
    color: white;
  }

  .btn-cover {
    padding: 10px 20px;
    font-size: 18px;
    border: 3px solid white;
    color: white;
  }
}

/* PAGE 1
================================================= */
#page1 {
  // background: linear-gradient(to bottom, rgba(220, 230, 245, 1), rgba(220, 230, 245, 0) 80%);

  .what-is-tt {
    padding: 50px 0;
    text-align: right;
    // background: rgba(230, 240, 255, 1);

    .what-is-tt-flex {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 1080px;
      margin: 20px auto;

      .what-is-tt-flex-child {
        width: 480px;
        padding: 0 30px;
      }

      img {
        width: 80px;
        height: auto;
        margin: 25px 0 10px 0;
      }

      h4 {
        margin-bottom: 15px;
      }
    }
  }

  .tt-main {
    padding: 100px 0;
    background-color: rgba(242, 248, 255, 1); /* For browsers that do not support gradients */
    // background: linear-gradient(to bottom, rgba(230, 240, 255, 1), rgba(230, 240, 255, 0));

    .tt-main-flex {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 1200px;

      .tt-main-flex-child {
        width: 550px;
        padding: 0 25px;
        text-align: left;

        .btn-tt-main {
          margin-top: 10px;
          padding: 8px 16px;
          font-size: 16px;
          border: 3px solid;
        }

        h1, h4, p {
          margin: 10px 0;
          text-align: left;
        }

        img {
          width: 500px;
          height: auto;
        }
      }
    }
  }

  // .why-it-works {
  //   max-width: 1100px;
  //   margin: 0 auto;
  //   padding: 50px 20px;
  //   border-top: 2px solid var(--color1);
  //
  //   .why-it-works-flex {
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: center;
  //     align-items: center;
  //
  //     .why-it-works-flex-child {
  //       width: 350px;
  //       padding: 0 25px 25px 25px;
  //     }
  //   }
  //
  //   img {
  //     width: 40px;
  //     height: auto;
  //     margin: 25px 0 10px 0;
  //
  //     &.muscle-arm {
  //       padding: 2px;
  //     }
  //   }
  //
  //   h4 {
  //     margin-bottom: 15px;
  //   }
  // }
}

/* PAGE 2
================================================= */
#page2 {
  // max-width: 1100px;
  // border-top: 2px solid var(--color1);
  background-color: white;

  .display {
    width: 700px;
    padding: 50px 0 60px 0;
    margin: auto;
    list-style: none;

    .display-flex-child {
      margin: 14px 0;

      p {
        font-size: 24px;
        text-align: left;
      }
    }
  }
}

/* PAGE 3
================================================= */
#page3 {
  .how-it-works {
    max-width: 1100px;
  	border-top: 2px solid var(--color1);
    padding: 50px 0 70px 0;

    .how-it-works-flex {
      margin-top: 50px;
      display: flex;
  		flex-direction: row;
  		justify-content: center;
  		align-items: center;

      .how-it-works-block {
        margin: 0 50px;
      }

      img {
        width: 50px;
        height: auto;
        margin: 0;
      }

      p {
        padding-top: 10px;
        font-size: 15px;
      }
    }
  }
}

/* PAGE 4
================================================= */
#page4 {
  .why-were-here {
  	min-height: 500px;
    margin: 0;
  	background-image: url("../img/page4/team.png");
    background-position: center;
    background-size: auto 950px;
    background-repeat: no-repeat;
  	color: white;

  	h1 {
  		padding: 150px 0 30px 0;
  		color: inherit;
  	}

  	.why-were-here-flex {
  		padding: 0 40px;
  		display: flex;
  		flex-direction: row;
  		justify-content: center;
  		align-items: flex-start;

  		.why-were-here-blurb {
  			width: 600px;
  			margin: 0 40px;
  		}
  	}

  	p {
  		// text-align: left;
  		font-size: 20px;
  	}
  }
}
