/* COVER BLOCK
================================================= */

.cover-container {
  height: 500px;
  padding-top: 75px; // height of navbar
	background-image: url("../img/index/couple_running_darkened.jpg");
  background-position: center;
  background-size: auto 800px;
  background-repeat: no-repeat;

	h1 {
		margin: 120px 0 50px 0;
	}

	.btn-product {
	  padding: 10px 20px;
	  font-size: 18px;
		border: 3px solid white;
		color: white;
	}
}

/* DISPLAY BLOCK
================================================= */

.display-container {
  min-width: 100%;
  margin: 60px 0;
  max-height: 100%;
  text-align: right;

  .display-subcontainer {
		width: 950px;
		margin: 0 auto;
		padding-top: 40px;

		img {
			width: 400px;
		}

    .display-info {
			width: 480px;
			margin-left: 70px;

      ul {
      	font-size: 18px;
      	text-align: left;
				list-style: none;

				.blurb {
					padding: 7px 0;
				}
      }
    }
  }
}

/* MARKETING BLOCK
================================================= */

.marketing-container {
	padding: 50px 20px;

	.marketing-blurb {
		padding: 0px 25px 25px 25px;
	}

	iframe {
		margin: 20px 0;
		width: 480px;
		height: 270px;
	}

	img {
		margin-bottom: 10px;
		width: 60px;
		height: auto;
	}

	p {
		font-size: 18px;
	}
}

/* BLOG BLOCK
================================================= */
.blog-container {
	padding: 50px 120px 90px 120px;

	.btn-blog {
	  padding: 10px 20px;
	  margin-top: 40px;
	  font-size: 18px;
		border: 3px solid var(--color5);
		color: var(--color5);
		opacity: 0.6;

		&:hover {
			opacity: 1;
		}
	}
}


/* RESPONSIVE SIZING
================================================= */

/* ===== Portrait phone ===== */
@media (min-width: 0) and (max-width: 567px) {
	/* Cover */

	.cover-backdrop {
	  background-size: auto 400px;
	  background-repeat: no-repeat;

		.cover-container {
			padding: 80px 20px;
			height: 350px;

			.btn-product {
				font-size: 12px;
				margin-top: 30px;
			}
		}
	}

	/* Marketing */

	.marketing-container {
		padding: 0px 25px;

		.marketing-subcontainer {
			padding: 0;

			iframe {
				width: 320px;
				height: 180px;
			}

			img {
				width: 50px;
				height: auto;
			}

			p {
				font-size: 14px;
			}
		}
	}

	/* Blog */

	.blog-container {
		padding: 20px 25px 50px 25px;

		.btn-blog {
		  font-size: 12px;
			margin-top: 20px;
		}
	}
}

/* ===== Landscape phone ===== */
@media (min-width: 568px) and (max-width: 1024px) {
  /* Cover */

	.cover-backdrop {
	  background-size: auto 515px;
	  background-repeat: no-repeat;

		.btn-product {
			font-size: 14px;
		}
	}

	/* Marketing */

	.marketing-container {
		padding: 15px 25px;

		.marketing-subcontainer {
			padding: 0 40px;
		}

		img {
			width: 60px;
			height: auto;
		}

		p {
			font-size: 16px;
		}
	}

	/* Blog */

	.blog-container {
		padding: 50px 50px 80px 50px;

		.btn-blog {
		  font-size: 14px;
			margin-top: 40px;
		}
	}
}
