@import 'typography';
@import 'navbar';
@import 'colors';

/* CREDIT FOR VECTORS
================================================= */
/*
Muscle by Vectors Market from the Noun Project
low price by Vaibhav Radhakrishnan from the Noun Project
Line Graph by Souvik Bhattacharjee from the Noun Project
barrier by IconfactoryTeam from the Noun Project
Bright Lightbulb by Martyn Jasinski from the Noun Project
Check Mark by Kimmi Studio from the Noun Project
Stopwatch by Kid A from the Noun Project
Arrow Right by Antonio Petraglia from the Noun Project
Arrow Down by Antonio Petraglia from the Noun Project
Arrow Left by Antonio Petraglia from the Noun Project
*/

a.btn {
	opacity: 0.75;

	&:hover {
		opacity: 1;
	}
}

/* centered columns styles */
.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    /* inline-block space fix */
    margin-right: -4px;
		vertical-align: center;
}

.vertical-align {
  display: flex;
  align-items: center;
}

/* FOOTER BLOCK
================================================= */

.footer-container {
	border-top: 2px solid #dfdfdf;
	padding: 50px 0;
	font-size: 18px;
	text-align: center;
	color: var(--color6);
}

.footer-button {
	color: var(--color6);
}

.footer-button:hover {
	color: var(--color7);
	text-decoration: none;
	border-bottom: 1px solid var(--color7);
}

.footer-info-container {
	padding-top: 30px;
	font-size: 13px;
	color: var(--color6);
}

.footer-info-container a {
	color: var(--color6);
	text-decoration: none;
}

.contact-info {
	color: white;
	text-decoration: none;
}

.footer-info-left {
	text-align: right;
	padding: 0;
	margin: 0;
}

.footer-info-right {
	text-align: left;
	padding-left: 40px;
}

/* RESPONSIVE SIZING
================================================= */

/* ===== Portrait phone ===== */
@media (min-width: 0) and (max-width: 567px) {
	/* Footer */

	.footer-container {
		padding: 20px 0;
		font-size: 12px;
	}

	.footer-info-container {
		padding-top: 10px;
		font-size: 9px;
		color: white;
	}

	.footer-info-left {
		text-align: center;
		padding: 0;
		margin: 0;
	}

	.footer-info-right {
		text-align: center;
		padding-left: 20px;
	}
}

/* ===== Landscape phone ===== */
@media (min-width: 568px) and (max-width: 1024px) {
	/* Footer */

	.footer-container {
		padding: 50px 0;
		font-size: 18px;
	}

	.footer-info-container {
		padding-top: 30px;
		font-size: 13px;
		color: white;
	}

	.footer-info-left {
		text-align: center;
		padding: 0;
		margin: 0;
	}

	.footer-info-right {
		text-align: center;
		padding-left: 20px;
	}
}
