/* TEAM BLOCK
================================================= */

.team-wrapper {
	min-height: 540px;
  margin: 0;
  padding-top: 75px; // height of navbar
	background-image: url("../img/team/team.png");
  background-position: center;
  background-size: auto 950px;
  background-repeat: no-repeat;
	color: white;

	h1 {
		margin: 90px 0 30px 0;
		font-size: 36px;
		color: inherit;
	}

	.team-flex-container {
		padding: 0 40px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;

		.team-info {
			width: 400px;
			margin: 0 40px;
		}
	}

	p {
		text-align: left;
		font-size: 20px;
	}
}

/* BIO BLOCK
================================================= */

.bio-wrapper {
	margin: 50px 0;

	h1 {
		margin-bottom: -20px;
	}

	.bio-flex-container {
		margin: 70px 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		img {
			height: 255px;
			width: auto;
			margin: 0;
		}

		.bio {
			width: 550px;
			margin: 0 0 0 100px;

			&.bio-reverse {
				margin: 0 100px 0 0;
			}
		}

		h3, h4 {
			margin-bottom: 10px;
			text-align: left;
		}

		p {
			text-align: left;
		}
	}
}

/* VALUES BLOCK
================================================= */

.values-wrapper {
	max-width: 1100px;
	margin: 70px auto;
	border-top: 2px solid var(--color1);
	padding-top: 50px;

	.values-flex-container {
		margin: 30px 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.values-block {
		width: 400px;
		margin: 0 50px;
	}

	h3 {
		margin-bottom: 10px;
	}
}

/* ===== Portrait phone ===== */
@media (min-width: 0) and (max-width: 567px) {
	br {
		content: "";
		font-size: 5px;
	}

	.team-backdrop {
	  background-size: auto 500px;
	  background-repeat: no-repeat;

		.team-container {
			padding: 40px 20px;
			height: 370px;

			.team-subcontainer {
				padding: 0;
			}

			p {
				font-size: 14px;
			}

			.team-info-left, .team-info-right {
				padding: 20px 50px 0px 50px;
			}
		}
	}

	.values-container {
		.values-info-left, .values-info-right {
			padding: 0 70px;
		}

		p {
			font-size: 14px;
		}
	}

	.bio-subcontainer {
		padding-left: 0;
		padding-right: 0;
	}
}

/* ===== Landscape phone ===== */
@media (min-width: 568px) and (max-width: 767px) {
	br {
		content: "";
		font-size: 10px;
	}

	.team-backdrop {
	  background-size: auto 660px;
	  background-repeat: no-repeat;

		.team-container {
		  padding-top: 80px;

			.team-subcontainer {
				padding: 20px;
			}

			.team-info-left, .team-info-right {
				padding: 0 60px 40px 60px;
			}

			p {
				font-size: 18px;
			}
		}
	}

	.values-info-left, .values-info-right {
		padding: 0 100px;
	}
}

/* ===== Slightly larger ===== */
@media (min-width: 768px) and (max-width: 1024px) {
	.team-backdrop {
	  background-size: auto 660px;
	  background-repeat: no-repeat;

		.team-info-left {
			padding-left: 60px;
			padding-right: 40px;
		}

		.team-info-right {
			padding-right: 60px;
			padding-left: 40px;
		}

		p {
			font-size: 18px;
		}
	}
}
